{% extends "base.html" %}

{% block content %}
    <h1>Список профессий</h1>
{% set prof_list = ['Инженер по жизнеобеспечению', 'Экзобиолог', 'Офтальмолог', 'Метеоролог', 'Врач', 'Пилот', 'Кринжолог', 'Инженер-строитель', 'Инженер-исследователь'] %}
{% if list_index == 'ol' %}
    {% for prof in prof_list %}
    <div>{{ loop.index }} - {{ prof }}</div>
    {% endfor %}
{% elif list_index == 'ul' %}
    <ul>
        {% for prof in prof_list %}
            <li>{{ prof }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h2>Неверный параметр!</h2>
{% endif %}
{% endblock %}